pkgbase = vicinae
	pkgdesc = A focused launcher for your desktop — native, fast, extensible
	pkgver = 0.8.4
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = npm
	makedepends = rapidfuzz-cpp
	makedepends = jq
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = protobuf
	depends = cmark-gfm
	depends = layer-shell-qt
	depends = libqalculate
	depends = minizip
	depends = qtkeychain-qt6
	provides = vicinae
	source = vicinae-v0.8.4.tar.gz::https://github.com/vicinaehq/vicinae/archive/refs/tags/v0.8.4.tar.gz
	source = vicinae-v0.8.4-meta.yml::https://api.github.com/repos/vicinaehq/vicinae/git/ref/tags/v0.8.4
	sha256sums = 3e353507ade6269451a30ee36671decae31f8e8edc68e18d0177abfdcd54d1cf
	sha256sums = ecc8b7919b9b36cadffeaab272aad8dc206c6a2161285cbeac0e898b28539932

pkgname = vicinae
