pkgbase = vicinae-bin
	pkgdesc = Raycast like FOSS app on Linux
	pkgver = 0.15.7
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = layer-shell-qt
	depends = libqalculate
	depends = qtkeychain-qt6
	provides = vicinae
	conflicts = vicinae
	source = https://github.com/vicinaehq/vicinae/releases/download/v0.15.7/vicinae-linux-x86_64-v0.15.7.tar.gz
	source = vicinae.hook
	sha256sums = 481ee85d45f27f567c25cd15eb624aa60c9785acc0fb6641938fc36843d15a39
	sha256sums = 3e946bcb7f3c2faa3568218987012db336be92acff805a373b6c10bdeaa9e7a8

pkgname = vicinae-bin
