pkgbase = vicinae
	pkgdesc = A focused launcher for your desktop — native, fast, extensible
	pkgver = 0.13.0
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = npm
	makedepends = rapidfuzz-cpp
	makedepends = jq
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = protobuf
	depends = cmark-gfm
	depends = layer-shell-qt
	depends = libqalculate
	depends = minizip
	depends = qtkeychain-qt6
	provides = vicinae
	source = vicinae-v0.13.0.tar.gz::https://github.com/vicinaehq/vicinae/archive/refs/tags/v0.13.0.tar.gz
	source = vicinae-v0.13.0-meta.yml::https://api.github.com/repos/vicinaehq/vicinae/git/ref/tags/v0.13.0
	source = vicinae.hook
	sha256sums = 038d9876386ed71d3301c785f7bf9837a36dd6b59c920d32d8a590297c9f4a33
	sha256sums = 03102a1f278e00701131bb9e1f2180c96892cd0215f2d3d07cdbff1f006a9547
	sha256sums = 13d44abe60c20667b90c2bbca4f8ad1e4c39f8c6ace697807c8c397d68037894

pkgname = vicinae
